---
import { Button } from  '@/components/ui/button';
---

<nav>
    <div class="mx-auto max-w-full px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 justify-end">
            <div class="flex-shrink-0 text-4xl">
                <a href="/">
                    <Button variant="ghost">Home</Button>
                </a>
                <a href="/contact">
                    <Button>Contact</Button>
                </a>
            </div>
        </div>
    </div>
</nav>
